/* =========================
   ROOT VARIABLES
========================= */
:root {
    --default-font: "Changa", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-header-color: #2E2E2E;
    --green-color: #10513D;
    --yellow-color: #FDC20C;
    --grey-color: #565656;
    --grey-color-medium: #D9D9D9;
    --grey-color-light: #E6E6E6;
    --white-color: #ffffff;
    --black-color: #000;
    --text-color-size: #585858;

    scroll-behavior: smooth;
}

/* =========================
   RESET / BASE
========================= */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: var(--default-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* =========================
   FONT CONFIG (CHANGA)
========================= */
.font-changa {
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.font-header{
    color: var(--font-header-color);
}
/* =========================
   FONT SIZES (UTILS)
========================= */
.font-10 { font-size: 0.625rem; }
.font-12 { font-size: 0.75rem; }
.font-14 { font-size: 0.875rem; }
.font-15 { font-size: 0.938rem; }
.font-16 { font-size: 1rem; }
.font-17 { font-size: 1.063rem; }
.font-18 { font-size: 1.125rem; }
.font-20 { font-size: 1.25rem; }
.font-24 { font-size: 1.5rem; }
.font-25 { font-size: 1.563rem; }
.font-28 { font-size: 1.75rem; }
.font-30 { font-size: 1.875rem; }
.font-32 { font-size: 2rem; }
.font-40 {
    font-size: 2.5rem;
    line-height: 1.2;
}
.font-44 { font-size: 2.75rem; }
.font-50 { font-size: 3.125rem; }

.font-light   { font-weight: 300; }
.font-regular { font-weight: 400; }
.font-medium  { font-weight: 500; }
.font-semibold{ font-weight: 600; }
.font-bold    { font-weight: 700; }

.bg-yellow{
    background: var(--yellow-color);
}
.color-yellow{
    color: var(--yellow-color);
}
.bg-green{
    background: var(--green-color);
}
.color-green{
    color: var(--green-color);
}
.color-grey{
    color: var(--grey-color);
}

/* =========================
   HEADER
========================= */
.btn-header.btn:hover{
    border: 1px solid var(--black-color);
}

/* =========================
   HERO
========================= */

.hero {
  position: relative;
  width: 100%;
}

.hero-slide {
  position: relative;
  min-height: 85vh;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  z-index: 3;
  min-height: 85vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.hero-subtitle {
  margin-bottom: 12px;
  opacity: 0.9;
}

.hero-title {
  line-height: 1.2;
  margin-bottom: 30px;
}

.hero-actions {
  gap: 15px;
}

.btn-hero.btn:hover {
    border: 1px solid var(--white-color);
}
.btn-hero.btn:hover svg{
    filter: brightness(10) saturate(0.1) contrast(10);
}
.btn-outline {
  border: 2px solid var(--yellow-color);
  color: var(--yellow-color);
  padding: 12px 28px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
}
.main-swiper .swiper-pagination-bullet{
    height: 17px;
    width: 17px;
}
.main-swiper .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.main-swiper .swiper-pagination-bullet-active {
  background: var(--yellow-color);
}

/* =========================
   TOPIC
========================= */
.topic-item img {
  transition: transform .3s ease, box-shadow .3s ease;
}
.topic-item img{
    width: 193px;
    height: 113px;
    object-fit: cover;
} 
.topic-item:hover img {
  transform: translateY(-6px);
}

/* =========================
   ABOUT
========================= */
.about-image img {
    object-fit: cover;
    height: 100%;
}
.mb-0.color-grey.font-changa.font-16.font-semibold.col-11.ms-3{
    line-height: 23px;
}
.firula-about{
    z-index: -1;
    top: -50px;
}
.about-subtitle{
    border-bottom: 1px solid var(--green-color);
}
.firula-count{
    width: 130px;
    top: -4px !important;
    left: 0px;
}
.stat-number{
    color: rgb(16 81 61 / 50%);
}